// fonts
$ff-sans-serif: 'Barlow', sans-serif;
$fw-sans-serif: 600;

$ff-serif: 'Fraunces', serif;
$fw-serif-light: 900;
$fw-serif-bold: 700;

// colors
$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$DarkCyan: hsl(167, 40%, 24%); // graphic design text
$DarkBlue: hsl(198, 62%, 26%); // photography text
$LightCyan: hsl(168, 34%, 41%); // footer

$VeryDarkBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
